.newuser-card {
	height: 100%;
	max-width: 480px;
	margin: auto;
}
.camera-overlay {
	position: relative;
	width: 150px;
	height: 150px;
	.overlay-btn {
		position: absolute;
		right: 5px;
		bottom: 5px;
	}
}
.cssWebCam {
	width: 150px;
	height: 150px;
}
.profile-photo {
	border: solid 1px #e1e1e1;
	width: 150px;
	height: 150px;
	padding: 5px;
}
.signature {
	border-bottom: solid 1px #e1e1e1;
}
.signature-instruction {
	color: #9e9e9e;
	padding-top: 5px;
	margin-bottom: 10px;
}