<md-toolbar color="primary" class="toolbar-container">
	<button md-icon-button nofocus (click)="sidebar.toggle()">
		<i class="material-icons demo-toolbar-icon">menu</i>
	</button>
	<span> <md-icon>home</md-icon> Material2 Seed</span>
</md-toolbar>
<md-sidenav-container>
	<md-sidenav #sidebar>
		<md-list>
			<h3 md-subheader>Navigation</h3>
			<md-list-item (click)="sidebar.toggle()">
				<a routerLink="/">
					<md-icon fontSet="fa" fontIcon="fa-home"></md-icon>
					<span> Home</span>
				</a>
			</md-list-item>
			<md-list-item (click)="sidebar.toggle()">
				<a href="mailto:support@aa.com">
					<!-- <md-icon>help</md-icon> -->
					<md-icon fontSet="fa" fontIcon="fa-question-circle"></md-icon>
					<span> Help?</span>
				</a>
			</md-list-item>
			<md-list-item *ngIf="isLoggedIn()" (click)="logout()">
				<a href="javascript:;">
					<!-- <md-icon>exit_to_app</md-icon> -->
					<md-icon fontSet="fa" fontIcon="fa-sign-out"></md-icon>
					<span> Logout</span>
				</a>
			</md-list-item>
		</md-list>
	</md-sidenav>
	<div class="route-view">
		<router-outlet></router-outlet>
	</div>
</md-sidenav-container>