<md-toolbar color="primary" class="toolbar-container">
	<button md-icon-button nofocus (click)="sidebar.toggle()">
		<i class="material-icons demo-toolbar-icon">menu</i>
	</button>
	<span>Material2 Seed</span>
	<span class="push-right"></span>
	<button type="button" md-icon-button [mdMenuTriggerFor]="profileMenu">
		<md-icon>person</md-icon>
	</button>
	<md-menu #profileMenu="mdMenu" [overlapTrigger]="false">
		<button md-menu-item>Settings</button>
	</md-menu>
</md-toolbar>
<md-sidenav-container>
	<md-sidenav #sidebar mode="side">
		<md-list>
			<h3 md-subheader>Navigation</h3>
			<md-list-item (click)="sidebar.toggle()">
				<a routerLink="/">
					<md-icon fontSet="fa" fontIcon="fa-home"></md-icon>
					<span> Dashboard</span>
				</a>
			</md-list-item>
			<md-list-item (click)="sidebar.toggle()">
				<a routerLink="/maps">
					<md-icon fontSet="fa" fontIcon="fa-map-marker"></md-icon>
					<span> Maps</span>
				</a>
			</md-list-item>
			<md-list-item (click)="sidebar.toggle()">
				<a routerLink="/tables">
					<md-icon fontSet="fa" fontIcon="fa-table"></md-icon>
					<span> Tables</span>
				</a>
			</md-list-item>
			<md-list-item (click)="sidebar.toggle()">
				<a href="mailto:support@aa.com">
					<!-- <md-icon>help</md-icon> -->
					<md-icon fontSet="fa" fontIcon="fa-question-circle"></md-icon>
					<span> Help?</span>
				</a>
			</md-list-item>
			<md-list-item *ngIf="isLoggedIn()" (click)="logout()">
				<a href="javascript:;">
					<!-- <md-icon>exit_to_app</md-icon> -->
					<md-icon fontSet="fa" fontIcon="fa-sign-out"></md-icon>
					<span> Logout</span>
				</a>
			</md-list-item>
		</md-list>
	</md-sidenav>
	<div class="route-view">
		<router-outlet></router-outlet>
	</div>
</md-sidenav-container>