.verify-card {
	max-width: 600px;
	margin: auto;
}
.particulars-table, th, td {
	border: solid 1px #e1e1e1;
}
.particulars-table {
	border-collapse: collapse;
	width: 100%;
	th, td {
		padding: 15px;
		text-align: left;
	}
	td {
		position: relative;
		border: solid 1px #e1e1e1;
		vertical-align: center;
	}
	.hint {
		display: block;
		position: absolute;
		left: 5px;
		top: 2px;
		color: #aaa;
		font-size: 0.7em;
	}
}
.footer-cell {
	width: 200px;
}