<div class="app-content">
	<div class="flex-container" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
		<div fxFlex fxFlexAlign="center">
			<md-card class="dash-info-card">
				<md-card-header>
					<md-card-title>Home</md-card-title>
				</md-card-header>
				<md-card-content>
				</md-card-content>
			</md-card>
		</div>
		<div fxFlex fxFlexAlign="center">
			<md-card class="dash-info-card">
				<md-card-header>
					<div class="header-icon">
						
					</div>
					<md-card-title>Home</md-card-title>
				</md-card-header>
				<md-card-content>
				</md-card-content>
			</md-card>
		</div>
		<div fxFlex fxFlexAlign="center">
			<md-card class="dash-info-card">
				<md-card-header>
					<md-card-title>Home</md-card-title>
				</md-card-header>
				<md-card-content>
				</md-card-content>
			</md-card>
		</div>
		<div fxFlex fxFlexAlign="center">
			<md-card class="dash-info-card">
				<md-card-header>
					<md-card-title>Home</md-card-title>
				</md-card-header>
				<md-card-content>
				</md-card-content>
			</md-card>
		</div>
	</div>
</div>